<html>
<head>
	<title>
		Finstagram
	</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <div class="head">
        <div id="headWord">
            Welcome to Finstagram {{username}}
        </div>
        <div class="icon" id="home">
            <a href="/home">home</a>
        </div>
        <div class="icon" id="post">
            <a href="/post_page">post</a>
        </div>
		<div class="icon" id="logout">
            <a href="/logout">logout</a>
        </div>




    </div>
</body>


</html>
