<html>
<head>
</head>
<body>
<form action="/post" method="POST">
	<h1>Welcome {{username}}</h1> 
	<p> Please upload a photo you would like to post. </p>
	<input type="file" name = "photo" required/> </br>
</form>

<form action="/select_Friendgroup" method="GET">

{% for line in Friendgroup %}
<input type="radio" name="designation" value={{line.groupName}}>{{line.groupName}}</input>
	<br>
{% endfor %}

<input type="submit" value="Post">

</form>

<style type="text/css">
	table, th, td{
		border: 1px solid black;
	}
</style>

Here are your visible photos:

<table>
	<th>photoID</th>
	<th>photoPoster</th>
	<!--<th>Comments</th>-->

{% for line1 in photos %}
	<!--{% for line2 in comments %}-->
		<tr>
			<td>{{line1.photoID}}</td>
			<td>{{line1.photoPoster}}</td>
			<!--<td>{{line2.username}}
			    {{line2.commenttime}}
			 	{{line2.text}}</td>-->
		</tr>
	<!-- {% endfor %} -->
{% endfor %}
</table>

<a href="/select_photo">Select a photo</a>
<br>
<a href="/logout">Logout</a>

</body>


</html>
